#popConfirmDom {
 .popConfirmDomContentMask {
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    .popConfirmDom {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      border-radius: 0.75rem;
      min-width: 60vw;
      width: fit-content;
      max-width: 80vw;
      max-height: 80vh;
      .popConfirmDomContentTitle {
        margin: 0.5rem 0;
        font-weight: bold;
        font-size: 1.125rem;
        text-align: center;
      }
      .popConfirmDomContent {
        overflow: auto;
        flex: 1 1 auto;
        margin: 0.5rem 0;
        padding: 0 1.5rem 1.5rem 1.5rem;
      }
      .popConfirmDomFooter {
        border-top: 1px solid #ccc;
        display: flex;
        padding: 1rem 0;
        justify-content: center;
        font-size: 1rem;
        color: #00C553;
        .item {
          flex: 1 1 auto;
        }
      }
   }
 }
}
