#popToastDom {
 .popToastDomContentMask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
 }
 .popToastDomContent {
  position: fixed;
  padding: 0.75rem;
  border-radius: 0.5rem;
  color: #fff;
  background-color: rgba(0,0,0,.7);
  width: fit-content;
  top: 40%;
  left: 0;
  right: 0;
  z-index: 99;
  margin: auto;
}
}
